 <p>Hello <%= @user.name || 'student' %>,</p>

<p>Please verify your CUHK email by clicking the link below:</p>

<p><a href="<%= @url %>">Verify my email</a></p>

<p>If you did not request this, you can ignore this email.</p>
